<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../normailze.css">
	<link rel="stylesheet" href="../invoice.css">
</head>
<body ng-init="invoices=[{name: 'krOnan', time: 1000}, {name: 'XXL', time: 300}, {name: 'Cramo', time: 900}, {name: 'Sibylla', time: 40}]">

	<input type="text" ng-model="name">
	<p>Filter by: {{ name }}</p>

	<ul>
		<li ng-repeat="invoice in invoices | filter:name">
			<h2>{{ invoice.name | uppercase }}</h2>
			<p>Total time: {{ invoice.time }}</p>
		</li>
	</ul>
	<script src="../angular.min.js"></script>
</body>
</html>