body { background: #111; color: #ffe; font: 400 1em/1.5 sans-serif; 
  padding: 2em;
}
section { margin: 40px auto;  padding: 20px;  border: 1px solid white;}
input { background: #111; box-shadow: none; color: #fff; border: 1px solid; padding: 4px; }