<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Directice 2 way data binding</title>
	<link rel="stylesheet" href="../normalize.css">
	<link rel="stylesheet" href="../examples.css" media="screen" title="no title" charset="utf-8">
</head>
<body>


	<section class="block">
		<h1>Controller</h1>
		<p>
			Here we separate logic from view to the controller.
		</p>

		<div class="block__center" ng-controller="tasksController as tasksVm">

			<form class="outline" ng-submit="tasksVm.add(invoice.task)">
				<input type="text" ng-model="invoice.task.name">
				<input type="number" ng-model="invoice.task.time">
				<p>{{ invoice.task }}</p>

				<button type="submit" name="button">Add</button>
			</form>

		</div>

		<h2>Tasks:</h2>

		<ul>
			<!-- maybe add index to show progress? -->
			<li ng-repeat="task in Invoices.tasks">
				{{ task }}
			</li>
		</ul>


	</section>

<script src="../angular.min.js"></script>
<script type="text/javascript">
	angular.module('app', [])
		.controller('tasksController', tasks)
		;

	function tasks () {
		var vm = this;
		vm.add = add;

		// init data
		var Invoices = { tasks: [
			{ name: 'Development', time: 20 },
			{ name: 'Management', time: 12 },
			{ name: 'Design', time: 35 }]
		};

		vm.Invoices = Invoices;


	}
</script>

</body>
</html>
