<!DOCTYPE html>
<!-- ng-app Bootstrap -->
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Directive 2 way data binding</title>
	<link rel="stylesheet" href="../normalize.css">
	<link rel="stylesheet" href="../examples.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<!--  NG init moved to controller -->

	<!-- Deninition of controller up here -->
	<!-- controller as ctrl ?? -->
	<!-- $scope vs "this" -->
	<section class="block" ng-controller="tasksController as tasksVm">
		<h1>Controller</h1>
		<p>
			Here we separate logic from view to the controller.
		</p>

		<div class="block__center">

			<form class="outline" ng-submit="tasksVm.add(tasksVm.task)">
				<h2>Add task</h2>
				<input type="text" ng-model="tasksVm.task.name" placeholder="Taskname">
				<input type="number" ng-model="tasksVm.task.time" placeholder="Time">
				<p>{{ tasksVm.task }}</p>
				<button type="submit" name="button">Add</button>
			</form>

			<h2>Tasklist:</h2>
			<ul>
				<!-- maybe add index to show progress? -->
				<li ng-repeat="task in tasksVm.Tasks | orderBy:'name'">
					<p>
						{{ task.name | uppercase }} {{ task.time }}
					</p>
				</li>
			</ul>
		</div>

	</section>

<script src="../angular.min.js"></script>
<script type="text/javascript">
	// Just accept that we write module
	// Heres how to declare a controller to an app
	angular.module('app', [])
		.controller('tasksController', tasksController);

	function tasksController () {
		var vm = this; // scope obj
		vm.add = add; // scope method
		vm.Tasks = {};

		// init data
		var Tasks = [
			{ name: 'Development', time: 20 },
			{ name: 'Management', time: 12 },
			{ name: 'Design', time: 35 }];

		vm.Tasks = Tasks;

		// methods
		function add (task) {
			vm.Tasks.push( task );
			vm.task = {}; // reset
		}

		<!-- Do a remove  -->
	}
</script>

</body>
</html>
