<!DOCTYPE html>

<html ng-app>

<head>
	<meta charset="UTF-8">
	<title>Directice 2 way data binding</title>
	<link rel="stylesheet" href="../normalize.css">
	<link rel="stylesheet" href="../examples.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

	<section class="block">
		<h1>Directive and Databinding</h1>
		<p>
			In this example we will show how to write simple things with just ng-directives (native angular directives).
		</p>

		<div class="block__center">
			<form class="outline">

				<input type="text" ng-model="name"
							 placeholder="name">

				<input type="number" ng-model="age"
							 placeholder="age">

				{{ name }} {{ age }}
			</form>


			<div ng-if="name">
				Hola <span ng-if="age>40">senior</span> {{ name }}!
			</div>

		</div>

	</section>

<script src="../angular.min.js"></script>

</body>
</html>
