<!DOCTYPE html>
<!-- ng-app Bootstrap -->
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Directive 2 way data binding</title>
	<link rel="stylesheet" href="../normalize.css">
	<link rel="stylesheet" href="../examples.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<!--  NG init moved to controller -->

	<!-- Deninition of controller up here -->
	<!-- controller as ctrl ?? -->
	<!-- $scope vs "this" -->
	<section class="block" ng-controller="tasksController as tasksVm">

		<h1>Custom Directive #1</h1>

		<p>
			Click to expand the text
		</p>

		<div class="block__center">

			<form class="outline" ng-submit="tasksVm.add(tasksVm.task)">
				<h2>Add task</h2>
				<input type="text" ng-model="tasksVm.task.name" placeholder="Taskname">
				<input type="number" ng-model="tasksVm.task.time" placeholder="Time">
				<p>{{ tasksVm.task }}</p>
				<button type="submit" name="button">Add</button>
			</form>

			<h2>Tasklist:</h2>
			<ul>
				<!-- Custom attribute directive and Scope isolation -->
				<!-- task-visual  visual="task.time" -->
				<li ng-repeat="task in tasksVm.Invoices.tasks | orderBy:'name'" task-visual visual="task.time">
					{{ task.name }} {{ task.time }}
				</li>
			</ul>
		</div>

	</section>

<script src="../angular.min.js"></script>
<script type="text/javascript">
	angular.module('app', [])
		.controller('tasksController', tasksController);

	function tasksController () {
		var vm = this;
		vm.add = add;

		// init data
		var Invoices = { tasks: [
			{ name: 'Development', time: 20 },
			{ name: 'Management', time: 12 },
			{ name: 'Design', time: 35 }]
		};

		vm.Invoices = Invoices;

		// methods
		function add (task) {
			vm.Invoices.tasks.push( task );
			vm.task = {}; // reset
		}

		<!-- Do a remove  -->

	}


	angular.module('app')
			.directive('taskVisual', taskVisual);

	<!--  Custom Directive  -->
	function taskVisual () {
		return {
			restrict: "AE",
			scope: {
				visual: "=" // @
			},
			link: link // hanterar DOM-manipulation
		};

		function link (scope, element, attrs) {
			element.css(
				{ "width" : scope.visual * 12 + 'px',
			 	"background": "yellow" }
			);

		}
	}
</script>

</body>
</html>
